<% if @patient %>
  <div class="form-header">
    <h2>Edit Patient</h2>
    <form class="delete" action="/admin/patients/delete/<%= @patient.id %>" method="post">
      <button type="submit" class="btn">Delete</button>
    </form>
  </div>
  <form action="/admin/patients/edit/<%= @patient.id %>" method="post">

    <div class="form-group">
      <label for="patient-name">Patient Name</label>
      <input id="patient-name" type="text" name="patient-name" class="form-control" value="<%= @patient.name %>">
    </div>

    <div class="form-group">
      <label for="patient-birthday">Birthday</label>
      <input id="patient-birthday" type="date" name="patient-birthday" class="form-control" value="<%= @patient.birthday %>">
    </div>

    <div class="form-group">
      <label for="assigned-doctor">Patient's Doctor</label>
      <select class="form-control" name="assigned-doctor">
        <option value="-1">Unassigned</option>
        <% @doctors.each do |doctor| %>
          <% selected_string = "" %>
          <% if doctor.id == @patient.doctor_id %>
            <% selected_string = 'selected="selected"' %>
          <% end %>
          <option value="<%= doctor.id %>" <%= selected_string %>><%= doctor.name %></option>
        <% end %>
      </select>
    </div>

    <a href="/admin/patients/<%= @patient.id %>"><button type="button" class="btn cancel">Cancel</button></a>
    <button type="submit" class="btn submit-patient">Update</button>

    <div id="patient-alert" class="alert alert-danger">
      <p>Please enter a name and birthday.</p>
    </div>
  </form>
<% else %>
  <h2>Patient Not Found</h2>
  <p><a href="/admin/patients">Back to Patients List</a></p>
<% end %>
